
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(91, 99, 116);
}
h1 {
    font-size: 3em;
    padding-top: 1em;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1em;
}

header {
    margin: auto 2em;
}

p {
    margin: .2em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 1em;
}

button {
    border-radius: 20px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    margin-top: 20px;
    border: 0;
    transition: all 0.4s;
    font-family: 'Montserrat';
    float: right;
}

button:hover{
    transform: scale(1.2);
}


.gridContainer {
    display: grid;
    grid-template: repeat(2, auto)/ repeat(2, auto);
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
}

.gridItem {
    border-radius: 25px;
    background-color: rgb(154, 164, 173);
    padding: 10px;
    box-shadow: 5px 10px;
}

.gridItem:hover{
    box-shadow: 10px 15px;
}
.TopButtons {
    grid-column: 1.5/-1;
}
/*------------------------images------------------------*/
.logo {
    width: 30%;
    float: left;
}
.profile{
    width: 100%;
    display: block;
}

/*--------------------About------------------------------*/
.imageContainer{
    position: relative;
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(91, 99, 116);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.textOverlay {
    position: absolute;
    top: 53%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    overflow: hidden;
    font-size: 24px;
    transition: 0.5s ease;
}
.imageContainer:hover .overlay{
    width: 100%;
}

  
.Name {
    font-size: 3em;
    padding:10px;
    margin: 10px;
}
.About {
    /*you can use grid-row: span 3 if you want it to take a certain # of rows*/
    grid-column: 1 / -1;
    /* grid-row: span 10; */
    background-color: rgb(154, 164, 173);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 0.2 1fr ;
    padding: 20px;
    padding-right: 70px;
}
.AboutMe{
    grid-column: 1 / -1;
    font-size: 2em;
}
.AboutText{
    text-align: center;
    font-size: large;
    padding: 10px;
}

.quote{
    margin-top: 60px;
}

