
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    max-width: 1200px;
    margin: auto;
    background-color: #1A1A1D;
}
h1 {
    font-size: 3em;
    padding-top: 1em;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.em;
}

hr{
    margin-top: 20px;;
}

header {
    margin: auto 2em;
}

p {
    margin: .2em auto;
    font-size: 1.2em;
    color: white;
}

a{
    color: #72d6d0;
    text-decoration: none;
}


h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 1em;
    color: #66FcF1;
    font-weight: bold;
}

button {
    border-radius: 20px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    margin-top: 20px;
    border: 0;
    transition: all 0.4s;
    font-family: 'Montserrat';
    float: right;
}

button:hover{
    transform: scale(1.2);
}


.gridContainer {
    display: grid;
    grid-template: repeat(2, auto)/ repeat(3, auto);
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
}

.gridItem {
    border-radius: 25px;
    background-color: #4E4E50;
    padding: 10px;
    box-shadow: 5px 10px;
}

.gridItemWide {
    border-radius: 25px;
    background-color: #4E4E50;
    padding: 15px;
    box-shadow: 5px 10px;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr ;
}

/*------------------------top row------------------------*/
.TopButtons {
    grid-column: 2/-1;
}
.Name {
    font-size: 3em;
    padding:10px;
    margin: 10px;
    color: white;
}
/*------------------------images------------------------*/
.logo {
    width: 20%;
    float: left;
}
.profile{
    width: 100%;
    display: block;
}

/*--------------------About------------------------------*/
.imageContainer{
    position: relative;
    max-width: 100%;
    height: 100%;
    
}
.pictureLink{
    width: 75%;
    position: relative;
    height: 100%;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(91, 99, 116);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.textOverlay {
    position: absolute;
    top: 53%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    overflow: hidden;
    font-size: 24px;
    transition: 0.5s ease;
    
}
.pictureLink:hover .overlay{
    width: 100%;
    background-color: #45A29E
}

.About {
    /*you can use grid-row: span 3 if you want it to take a certain # of rows*/
    grid-column: 1 / -1;
    /* grid-row: span 10; */
    background-color: rgb(154, 164, 173);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 0fr 1fr ;
    padding: 20px;
    padding-right: 70px;
    
}
.title{
    grid-column: 2 / -1;
    font-size: 2em;
    color: #66FcF1
}
.AboutText{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: large;  
}

.quote{
    margin-top: 60px;
}
/*------------------Education--------------------------*/

.Education{
    background-color: #4E4E50;
    border-radius: 25px;
    padding: 20px;
    grid-column: 1/3;
}

/*----------------------Skills------------------------------*/

.Skills{
    background-color: #4E4E50;
    border-radius: 25px;
    padding: 20px;
}

.progress-bar{
    background-color: #66FcF1;
    margin: 5px;
    padding: 6px;
    border-radius: 15px;
}

.grey-bubble{
    background-color: rgb(154, 164, 173);
    border-radius: 15px;
    width: 20%;
    padding: 7px;
    margin: 3px;
    text-align: center;
    float: left
}

/*-------------------------Projects--------------------------------*/

