
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    background-color: rgb(91, 99, 116);
}
h1 {
    font-size: 3em;
    padding-top: 1em;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1em;
}

header {
    margin: auto 2em;
}

p {
    margin: .2em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 1em;
}

button {
    border-radius: 20px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    margin-top: 20px;
    border: 0;
    transition: all 0.4s;
    font-family: 'Montserrat';
    float: right;
}

button:hover{
    transform: scale(1.2);
}


.gridContainer {
    display: grid;
    grid-template: repeat(2, auto)/ repeat(2, auto);
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
}

.gridItem {
    border-radius: 25px;
    background-color: rgb(154, 164, 173);
    padding: 10px;
    box-shadow: 5px 10px;
}

.gridItem:hover{
    box-shadow: 10px 15px;
}
.TopButtons {
    grid-column: 1.5/-1;
}
.logo {
    width: 30%;
    float: left;
}
.Name {
    font-size: 3em;
    padding:10px;
    margin: 10px;
}
.About {
    /*you can use grid-row: span 3 if you want it to take a certain # of rows*/
    grid-column: 1 / -1;
    grid-row: span 20;
    background-color: rgb(154, 164, 173);
    border-radius: 25px;
    text-align: center;
}

